<style>
    #profileTable td {
        padding-bottom: 10px;
    }

    .inputField {
        margin-top: 5px;
        width: 100%;
        box-sizing: border-box;
        height: 30px;
    }

    .note {
        font-size: 10px;
        vertical-align: bottom;
    }

    .leftColumn {
        width: 50%;
    }

    .rightColumn {
        padding-left: 50px;
    }

    .expiryMonthContainer {
        float: left;
        width: calc(50% - 10px);
        padding-right: 10px;
    }

    .expiryYearContainer {
        float: left;
        width: calc(50% - 10px);
        padding-left: 10px;
    }
</style>

<script id="newCustomerProfile-template" type="text/html">
    <table id="profileTable" style="width: 50%; min-width: 600px;">
        <tr>
            <td colspan="2" class="section">
                <label>@Resources.CustomerProfileCompanyInfoSectionCaption</label>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                @Resources.CustomerProfileCompanyCountryCaption
                <br />
                <select class="inputField" data-bind="options: viewModel.Countries, value: viewModel.Country, optionsText: 'Name', optionsValue: 'Id'"></select>
            </td>
            <td class="rightColumn">
                <label>@Resources.CustomerOrganizationNameCaption</label><br />
                <input id="CompanyName" name="CompanyName" type="text" class="inputField" data-bind="textinput: viewModel.CompanyName" data-rule-required="true" />
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                @Resources.CustomerProfileAddressLine1Caption
                <input id="AddressLine1" name="AddressLine1" type="text" class="inputField" data-bind="textinput: viewModel.AddressLine1" data-rule-required="true" />
            </td>
            <td class="rightColumn">
                @Resources.CustomerProfileAddressLine2Caption
                <input type="text" class="inputField" data-bind="textinput: viewModel.AddressLine2" />
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                @Resources.CustomerProfileCityCaption
                <input id="City" name="City" type="text" class="inputField" data-bind="textinput: viewModel.City" data-rule-required="true" />
            </td>
            <td class="rightColumn">
                @Resources.CustomerProfileStateCaption
                <input id="State" name="State" type="text" class="inputField" data-bind="textinput: viewModel.State" />
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                @Resources.CustomerProfileZipPostalCaption
                <input id="ZipCode" name="ZipCode" type="text" class="inputField" data-bind="textinput: viewModel.ZipCode" data-rule-required="true" />
            </td>
        </tr>
        <tr>
            <td class="section" colspan="2">
                <label>@Resources.CustomerProfileContactInfoSectionCaption</label>
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                @Resources.CustomerProfileFirstNameCaption
                <input id="FirstName" name="FirstName" type="text" class="inputField" data-bind="textinput: viewModel.FirstName" data-rule-required="true" />
            </td>
            <td class="rightColumn">
                @Resources.CustomerProfileLastNameCaption
                <input id="LastName" name="LastName" type="text" class="inputField" data-bind="textinput: viewModel.LastName" data-rule-required="true" />
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                <label>@Resources.CustomerProfileEmailAddressIdCaption</label>
                <input id="Email" name="Email" type="email" class="inputField" data-bind="textinput: viewModel.Email" data-rule-required="true" data-rule-email="true" />
            </td>
            <td class="rightColumn">
                @Resources.PhoneHeaderCaption
                <input id="Phone" name="Phone" type="text" class="inputField" data-bind="textinput: viewModel.Phone" />
            </td>
        </tr>
        <tr>
            <td colspan="2" class="note">
                @Resources.CustomerProfileEmailWarningCaption
            </td>
        </tr>
        <tr>
            <td class="leftColumn">
                @Resources.CustomerProfileDomainPrefixCaption
                <input id="DomainPrefix" name="DomainPrefix" type="text" class="inputField" style="margin-bottom: 5px;" data-bind="textinput: viewModel.DomainPrefix" /><br />
                <label class="note">@Resources.CustomerProfileDomainInfoCaption</label>
            </td>
            <td class="rightColumn" style="vertical-align: top;">
                <label style="display: inline-block;">@Resources.CustomerProfileOffice365UserNameCaption</label><br>
                <div style="height: 20px; padding-top: 10px; padding-bottom: 10px; vertical-align: middle;">
                    <label style="height: 30px; font-size: 16px;" data-bind="text: viewModel.UserName"></label>
                </div>
                <label class="note">@Resources.CustomerProfileOffice365EmailCaption</label>
            </td>
        </tr>
    </table>
    <input type="checkbox" id="AcceptAgreement" name="AcceptAgreement" data-rule-required="true" />
    @Resources.AcceptPhrase <a href="https://docs.microsoft.com/partner-center/agreements">@Resources.TermsOfService</a> 
    <input id="CustomerMicrosoftID" name="CustomerMicrosoftID" type="hidden" data-bind="textinput: viewModel.CustomerMicrosoftID" />
</script>