<div id="RegistrationConfirmationContainer">
    <div class="row">
        <label class="section">@Resources.Confirmation</label><br />
        <label>@Resources.ConfirmationMessage</label>
    </div>
    <div class="row">
        <label class="section">@Resources.SetupInformation</label>
    </div>    
    <div class="row">
        <div class="titleCell">
            <label>@Resources.MicrosoftId</label>
        </div>
        <div class="left-float">
            <label data-bind="text: viewModel.MicrosoftId"></label>
        </div>
    </div>
    <div class="row">
        <div class="titleCell">
            <label>@Resources.AdminUserAccount</label>
        </div>
        <div class="left-float">            
            <label data-bind="text: viewModel.AdminUserAccount"></label>
        </div>
    </div>
    <div class="row">
        <div class="titleCell">
            <label>@Resources.PasswordLabel</label>
        </div>
        <div class="left-float">
            <label data-bind="text: viewModel.Password"></label>
        </div>
    </div>
    <div class="row">
        <img src="~/Content/Images/WebPortal/notification-info.png" />
        <label> @Resources.RegistrationConfirmationPasswordNoticeCaption</label>        
    </div>
    <div class="row">
        <label class="section">@Resources.ContactInformation</label>
    </div>
    <div class="row">
        <div class="titleCell">
            <label>@Resources.CustomerPrimaryContactCaption</label>
        </div>
        <div class="left-float">
            <!-- ko foreach: viewModel.ContactInformation -->
            <label data-bind="text: $data"></label><br />
            <!-- /ko -->
        </div>
    </div>
    <div class="row">
        <div class="titleCell">
            <label>@Resources.CustomerOrganizationNameCaption</label>
        </div>
        <div class="left-float">
            <label data-bind="text: viewModel.CompanyName"></label>
        </div>
    </div>
    <div class="row">
        <div class="titleCell">
            <label>@Resources.Address</label>
        </div>
        <div class="left-float">
            <!-- ko foreach: viewModel.Address -->
            <label data-bind="text: $data"></label><br />
            <!-- /ko -->
        </div>
    </div>    
    <div class="row">        
            <a class="button confirmation-done-button" data-bind="click: onDoneClicked">@Resources.Submit</a>            
    </div>
</div>