<html>
<head>
    <link href="~/Content/Styles/Plugins/Error.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="organizationName">
            <label>@ViewBag.OrganizationName</label>
        </div>
        <div class="errorMessage">
            <label>@ViewBag.ErrorMessage</label>
        </div>
        <div class="links">
            <a href="/">@Resources.HomePage</a>@Resources.Comma <a href="/Account/Signout">@Resources.Signout</a>
        </div>
    </div>
</body>
</html>
